.breadcrumb{
    background-color: white;
}
.breadcrumb  a{
    text-decoration: none;
    color:rgb(61, 156, 211) ;
}
.breadcrumb  a:hover{
     color:rgb(39, 110, 151) ;
}
.breadcrumb .active::before {
    content: ">" ;

}