* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.text {
    margin-top: 10px;
}

.text a {
    font-size: 1.2em;
    color: rgb(84, 144, 201);
    transition: 0.3s ease-in-out;
}

.text a:hover {
    transform: translateX(10px);
    color: rgb(158, 187, 212);
}

.text a {
    text-decoration: none;
}

.text span i {
    font-size: .8em;
}
.img img{
    width: 100%;
    height: 40vh;
}
@media screen and (max-width:576px) {
    #motion-effect2 {
        display: contents;
    }

    #motion-effect {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .head-field1 {
        font-weight: 600;
        font-size: 26px;
        color: rgb(29, 75, 134);
    }

    .head-field2 {
        font-weight: 500;
        font-size: 20px;
        color: rgb(29, 75, 134);
    }
}


@media screen and (min-width:768px) {
    .head-field1 {
        font-weight: bold;
        font-size: 30px;
        color: rgb(29, 75, 134);
    }

    .head-field2 {
        font-weight: bold;
        font-size: 20px;
        color: rgb(29, 75, 134);
    }

}

@media screen and (min-width:992px) {
    .head-field1 {
        font-weight: bold;
        font-size: 32px;
        color: rgb(29, 75, 134);
    }

    .head-field2 {
        font-weight: bold;
        font-size: 22px;
        color: rgb(29, 75, 134);
    }

}