

body{
     /* background-color: rgba(233, 233, 233, 0.082); */
       font-family: 'Kanit', sans-serif;
        background-color: rgb(245, 245, 245);
}

.box-all-1{
   
    margin: auto;
}
.box-img{
   
    height: 30vh;
}
.box-text{
    font-size: large;
    
     height: 30vh;
}
.box-text a{
    text-decoration: none;
    color: black;
}
.box-text a:hover{
color: rgb(51, 98, 160);
}
.box-calender{
    color: rgb(51, 98, 160);
}

.img-box-1{
    
    /* object-fit:cover; */
    background-image: url('https://www.sc.kku.ac.th/scienceweb/images/news/20211019-170033_.JPG');
    background-position: center;
    background-size: cover;
 /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.title-head{
    color: rgb(67, 142, 228);
    text-align: center;
}

.breadcrumb-all{
    background-color: white; 
}

.pagination .page-link{
    color: rgb(33, 134, 192);
    /* background-color: rgb(33, 134, 192); */
}

a.card-text-1{
    text-decoration: none;
    color: black;
}
p.text-calendar {
 
    vertical-align: middle;
    
      color: rgb(33, 134, 192);
}
.page-link{
    background-color:rgb(35, 130, 207) ;
    color: white !important;
}
.page-link:hover{
    background-color:rgb(44, 86, 121) ;
    /* color: rgb(35, 130, 207)  !important; */
}
/* .page-item{
 color: white !important;
} */